@model CosmeticIngredientsCheck.Models.IngredientsCheckModel
@using CosmeticIngredientsCheck.DTOs;
@{
    ViewData["Title"] = "IngredientsCheck";
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="IngredientsCheck">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IngredientsList" class="control-label"></label>
                <input asp-for="IngredientsList" class="form-control" />
                <span asp-validation-for="IngredientsList" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
@if (Model?.VerdictList != null)
{<h2>Detected Ingredients</h2>
<table>
        <thead>
            <tr>
                <td>Ingredient class</td>
                <td>Detected ingredient</td>
                <td>Index of appearance</td>
                <td>Original ingredient</td>
                <td>Risk</td>
                <td>Advice</td>
            </tr>
        </thead>
        @foreach (var verdict in Model.VerdictList)
        {
            <tr>
                <td>
                    <label asp-for="@verdict.Class">@verdict.Class</label>
                </td>
                <td>
                    <label asp-for="@verdict.Ingredient">@verdict.Ingredient</label>
                </td>
                <td>
                    <label>@verdict.Index / @verdict.TotalNrOfIngredients</label>
                </td>
                <td>
                    <label asp-for="@verdict.OriginalIngredient">@verdict.OriginalIngredient</label>
                </td>
                <td>
                    <span class="risk @(verdict.Risk==Risk.Low ? "low-risk":verdict.Risk == Risk.Medium ? "medium-risk":"high-risk")"/>
                </td>
                <td>
                    <label asp-for="@verdict.Advice">@verdict.Advice</label>
                </td>
           </tr>
        }
    </table>
}

@if (Model?.SkippedIngredientList != null)
{<h2>Skipped Ingredients</h2>
<table>
        <thead>
            <tr>
                <td>Ingredient class</td>
                <td>Detected ingredient</td>
                <td>Index of appearance</td>
                <td>Original ingredient</td>
                <td>Risk</td>
                <td>Advice</td>
            </tr>
        </thead>
        @foreach (var verdict in Model.SkippedIngredientList)
        {
            <tr>
                <td>
                    <label asp-for="@verdict.Class">@verdict.Class</label>
                </td>
                <td>
                    <label asp-for="@verdict.Ingredient">@verdict.Ingredient</label>
                </td>
                <td>
                    <label>@verdict.Index / @verdict.TotalNrOfIngredients</label>
                </td>
                <td>
                    <label asp-for="@verdict.OriginalIngredient">@verdict.OriginalIngredient</label>
                </td>
                <td>
                    <span class="risk @(verdict.Risk==Risk.Low ? "low-risk":verdict.Risk == Risk.Medium ? "medium-risk":"high-risk")" />
                </td>
                <td>
                    <label asp-for="@verdict.Advice">@verdict.Advice</label>
                </td>
            </tr>
        }
    </table>
}

<style>
    .risk {
        border-radius: 50%;
        width: 1em;
        height: 1em;
        display: inline-block;
    }
    .low-risk {
        background-color: lightgreen;
    }
    .medium-risk {
        background-color: yellow;
    }
    .high-risk {
        background-color: orangered;
    }
</style>
